<div class="container mt-5">
    <div class="row">   
        <div class="col-lg-6 offset-lg-3">
            <div class="card">
                <div class="card-body text-center">
                    <span class="titulo">CREAR PRODUCTO</span>
                    <form>
                        <div class="mb-3">
                            <input type ="text" placeholder="Producto" class="form-control form-control-lg">
                            <input type ="text" placeholder="Categoria" class="form-control form-control-lg">
                            <input type ="text" placeholder="Ubicacion" class="form-control form-control-lg">
                            <input type ="number" placeholder="Precio" class="form-control form-control-lg">
                        </div>
                        <div class="mb-3">
                            <button routerLink='' class="btn btn-secundary btn-lg float-start">Volver</button>
                            <button routerLink='' class="btn btn-success btn-lg float-end">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>